wing_ros_ws/mav.tlog*
wing_ros_ws/src/wing_navigator/src/wing_modules/navigator_modules/__pycache__/navigator.cpython-38.pyc
wing_ros_ws/src/wing_navigator/src/wing_modules/navigator_modules/__pycache__/__init__.cpython-38.pyc
wing_ros_ws/src/wing_navigator/src/wing_modules/navigator_modules/__pycache__/navigator_client.cpython-38.pyc
